In [1]:
import pandas as pd

In [8]:
train_essays_df = pd.read_csv("C:\\Users\\parim\\Downloads\\train_essays\\train_essays.csv")
train_prompts_df = pd.read_csv("C:\\Users\\parim\\Downloads\\train_prompts.csv")
print(f" Training dataset shape: {train_essays_df.shape}, Training dataset columns: {train_essays_df.columns}")
print(f" Training prompts shape: {train_prompts_df.shape} Training prompts columns: {train_prompts_df.columns}")

 Training dataset shape: (1378, 4), Training dataset columns: Index(['id', 'prompt_id', 'text', 'generated'], dtype='object')
 Training prompts shape: (2, 4) Training prompts columns: Index(['prompt_id', 'prompt_name', 'instructions', 'source_text'], dtype='object')

In [10]:
train_essays_df.head(3)

,id,prompt_id,text,generated
0,0059830c,0,Cars. Cars have been around since they became ...,0
1,005db917,0,Transportation is a large necessity in most co...,0
2,008f63e3,0,"""America's love affair with it's vehicles seem...",0

In [11]:
train_prompts_df.head(3)

,prompt_id,prompt_name,instructions,source_text
0,0,Car-free cities,Write an explanatory essay to inform fellow ci...,"# In German Suburb, Life Goes On Without Cars ..."
1,1,Does the electoral college work?,Write a letter to your state senator in which ...,# What Is the Electoral College? by the Office...

In [6]:
train_essays_df['generated'].unique(), train_essays_df['prompt_id'].unique()

(array([0, 1], dtype=int64), array([0, 1], dtype=int64))